:root {
    /* background */
    --background-main: #ffff;
    --backround-secondary: #F5F5F5;
    --background-third: #000;

    /* buttons */
    --color-main: #8F0101;
    --color-secondary: #B81515;

    /* text colors */
    --text-main: #222222;
    --text-secondary: #ffffff;

    /* fonts */
    --title-weight: 700;
    --text-weight: 400;
    --menu-weight: 500;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-main);
}

/* SECTION TITLE */
.section-title h2 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
}

.section-title hr {
    width: 180px;
    height: 4px;
    background: var(--color-secondary);
    border: none;
    margin: 26px auto 32px;
    display: block;
}

.button {
    display: inline-block;
    width: 260px;
    height: 64px;
    color: var(--text-secondary);
    font-weight: var(--title-weight);
    font-size: 20px;
    background-color: var(--color-main);
    border-radius: 16px;
    text-decoration: none;
    line-height: 64px;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
    .section-title h2 {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .button:hover {
        background-color: var(--color-secondary);
        transform: translateY(-3px);
        transition: 0.3s ease;
    }
}