header {
    background-color: var(--background-third);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px ;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.menu{
    margin-top: 24px;
}

nav {
    display: none;
}