header {
    background-color: var(--background-third);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px ;
    position: relative;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-third);
}

nav {
    display: none;
}

.nav-link{
    list-style: none;
}

.nav-link li{
    margin: 16px 0;
}

.nav-link li a{
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: var(--menu-weight);
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .nav-menu {
        margin-top: 0;
        width: 467px;
    }
    .nav-menu label {
        display: none;
    }

    .nav-menu nav{
        display: block;
    }

    .nav-menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        
    }

    .nav-menu li {
        margin: 0;
    }
}