.hero-img {
  height: 400px;
  width: 100%;
  background: url(../assets/hero.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  text-align: center;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../assets/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../assets/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img {
    background: url(../assets/hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 32px;
  }
}