.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.offers .card {
  color: var(--text-secondary);
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  box-sizing: border-box;
  background-color: black;
  border-radius: 16px;
  text-align: center;
}

.offers .card div {
  display: block;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offers .card div p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers .card div h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers .card div h4 {
  font-size: 32px;
  font-weight: var(--title-weight);
  margin-top: 24px;
}

.card.japao {
  background: url(../cards/japao-mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.andreas {
  background: url(../cards/andreas-card.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.paraiba {
  background: url(../cards/paraiba-card.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.card.manaus {
  background: url(../cards/manaus-card.png) no-repeat;
  background-size: cover;
  background-position: center;

}

@media screen and (min-width: 768px) {
  .offers {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

}


@media screen and (min-width: 1024px) {

  .offers .card {
    width: 410px;
    height: 308px;
  }

  .offers .card div h3 {
    font-size: 48px;
  }

  .offers .card div h4 {
    font-size: 40px;
  }

}

@media screen and (min-width: 1440px) {
  .offers .card {
    width: 624px;
    height: 328px;
  }
}

@media screen and (min-width: 1920px) {
  .offers .card {
    width: 700px;
    height: 328px;
  }

}