.cards {
    display: flex;
    flex-direction: column;
}

.card {
    color: var(--text-secondary);
    width: 312px;
    height: 288px;
    padding: 24px 16px;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;
}

.card div {
    display: block;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.card div p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card div h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.card div h4 {
    font-size: 32px;
    font-weight: var(--title-weight);
    margin-top: 24px;
}

.card.japao {
    background: url(../cards/japao-card.png) no-repeat;
    background-size: cover;
}

.card.andreas {
    background: url(../cards/andreas-card.png) no-repeat;
    background-size: cover;
}

.card.paraiba {
    background: url(../cards/paraiba-card.png) no-repeat;
    background-size: cover;
}

.card.manaus {
    background: url(../cards/manaus-card.png) no-repeat;
    background-size: cover;
}


@media screen and (min-width: 1024px) {
    .card {
        width: 588px;
        height: 308px;
    }

    .card header h3 {
        font-size: 48px;
    }

    .card header h4 {
        font-size: 40px;
    }
}